:root
{
    --primary-color : #006FBF;
    --text-color: black;

}

.nr-fdd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px var(--primary-color) solid;
    margin-bottom: 10px;
}

.nr-fdd-logo-parent {
    padding-left: 12%;
}

.nr-fdd-logo {
    width: 100px;
}

.nr-fdd-title {
    font-weight: bolder;
}

.nr-fdd-search {
    align-items: center;
    text-align: center;
}

.nr-fdd-search-text {
    font-size: medium;
    margin: 10px;
}

.nr-fdd-search-btn {
    margin: 10px;
    font-weight: bold;
}

.nr-fdd-navbar-list {
    list-style-type: none;
    margin : 10px;
    display: flex;
    text-align: right;
}

.nr-fdd-navbar-list > li {
    padding: 10px;
}

.nr-fdd-link {
    font-size: medium;
    text-decoration: none;
}

.nr-fdd-link-active {
    color: var(--primary-color);
}

.nr-fdd-link:hover {
    color: var(--primary-color);
}

.nr-fdd-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nr-fdd-card {
    width: 200px;
    padding: 15px;
    margin: 10px;
}

.nr-fdd-card:hover {
    box-shadow: 2px 2px 2px 1px var(--primary-color);
}

.nr-fdd-card > img {
    width: 100%;
}

.nr-fdd-restaurant-name {
    font-weight: bolder;
}